.wrapper {
  max-width: 1400px;
  margin: auto;
}

/* create 2 columns: text + images */
section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}

/* images column */
.right-images img {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 6px;
}
